<!DOCTYPE html>
<html>
    <head>

        <!-- 
        TODO:
            - make a deafult page for the main page
            - make a way to show the correct project when
              choosing a given project
        
        
        
        -->
        <!--------------------------------- 
        |   fancy pants styling section   |
        ----------------------------------->

        <!-- stylesheets -->
         <link rel="stylesheet" href="static/CSS/colorPalettes.css">

        <title>
            Color Palette Maker
        </title>

    </head>
    
    <body alt="a geometric circle based color splash background. 
                Here you can make your own color palette. There's
                a palette mock-up on the screen.">
        <h1>
            Color Palette Maker
        </h1>
        <p class="blurb">
            Here you can make your own palette!
            Click one of the boxes to change the color. 
            A little pop-up will appear in the top left corner,
            and you can choose whatever color you want for that 
            field!

            If you have trouble finding the exact color you want, 
            you can always find the RGB value of the color, and 
            type it in manually in the lower right corner of the 
            pop-up
        </p>
        <!-- method=post so we throw the data somewhere. 
             still need to grab the data and put it in a databae -->
        <form class="forms" method="post">
            <div class="fullPalette">
                <input name="pTitle" id="name" 
                       type="text"
                       placeholder="Add Title Here">
                </input>
                <div class="palette" alt="a color palette">
                    <div id="color1" class="colo">
                        <!-- input is kind of HTML magic from forms -->
                        <input
                            name="color1"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color2" class="colo">
                        <input
                            name="color2"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color3" class="colo">
                        <input
                            name="color3"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color4" class="colo">
                        <input
                            name="color4"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color5" class="colo">
                        <input
                            name="color5"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color6" class="colo">
                        <input
                            name="color6"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color7" class="colo">
                        <input
                            name="color7"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>

                    <div id="color8" class="colo">
                        <input
                            name="color8"
                            type="color"
                            id="background"
                            value="oklab(50% 0.1 0.1 / 0.5)"
                            colorspace="display-p3"
                            alpha />
                        <label for="background"></label>
                    </div>
                </div>
            </div>

            <button class="save" type="submit" formaction="{{ url_for('savePalette' )}}">
                Save Palette
            </button>
            <a href="{{ url_for('palettes') }}">
                <button class="save" type="button">
                    go back
                </button>
            </a>
        </form>
    </body>

</html>