/*
Okay. For some reson the contain is wonky on the page and the palette is wonky in the contain.
I have no clue how to fix this, as i checked what css applied to the elements and found nothing 
that could've done this.
I cannot even. Literally.
*/

#main div 
{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

body 
{
    background-image: url("/static/IMG/geoBG.jpg");
    padding: 10px;
}

.flex 
{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}


.contain
{
    border: 3px inset pink;
    height: 90%;
    overflow: scroll;
    background-color: rgba(255, 192, 203, 0.694);
}


.newPalette
{
    border: 3px outset pink;
    border-radius: 15px;

    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;

    width: fit-content;
    height: 60px;
}

.newPalette:hover
{
    border: 3px outset pink;
    background-color: rgb(255, 222, 227);
}

.newPalette:active
{
    border: 3px outset pink;
    background-color: pink;
}

.fullPalette
{
    border: 2px outset rgb(194, 147, 155);

    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.palette
{
    /* display: flex;
    justify-content: space-around; */
    padding: 5px;

    /* background-color: aliceblue; */

    height: 100px;
    min-width: 90px;

    font-size: 10px;
}

.color
{
    width: 100%;
}

h3 
{
    left: 0;
}

/* color palette maker */
.save 
{
    height: 40px;

    margin-top: 20px;

    background-color:pink;
    border: 3px outset pink;
    box-sizing: border-box;
}

.save:hover
{
    background-color:rgb(225, 171, 180);
}

.save:active
{
    background-color:rgb(199, 152, 160);
    border: 3px outset rgb(182, 137, 144);
}

.blurb
{
    font-size: 20px;
    padding: 5px;

    border: 3px inset rgba(0, 0, 0, 0.491);
    background-color: rgba(255, 192, 203, 0.532);
    box-sizing: border-box;
}

.color p 
{
    /* border: 1px solid red; */
    position: relative;
    top: 60%;
    font-size: 11px;

    text-decoration: underline;
}

.colo 
{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    /* padding: 8px; */
}


/********************
    MEDIA ASPECT 
*********************/
/* big screen */
@media (min-aspect-ratio: 16/9) 
{
    .contain
    {
        border-width: 3px;
        border-style: inset;

        display: grid;
        grid-template-columns: 50% 50%;

        height: 80%;
        width: 99%;
        overflow: scroll;
    }

    .fullPalette
    {
        border-width: 2px;
        border-style: outset;

        width: 99%;
        max-height: 150px;
    }

    .palette
    {
        display: flex;
        justify-content: space-around;
        padding: 5px;

        height: 100px;
        width: 95%;
    }

    .color
    {
        border: 2px solid black;
        padding: 8px;
    }

    /* color palette maker */
    .save 
    {
        width: 50%;
    }

    .colo 
    {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* small screen */
@media (max-aspect-ratio: 16/9) 
{
    .contain
    {
        width: 100%;
    }

    .fullPalette
    {
        border-width: 2px;
        border-style: outset;
        box-sizing: border-box;

        width: 95%;
    }

    .fullPalette h3 
    {
        /* border: 1px solid red; */
        position: relative;
        width: fit-content;
        margin: 0;

        text-decoration: underline;
    }

    .palette
    {
        display: flex;
        justify-content: space-around;
        padding: 5px;

        height: 100px;
        width: 90%;
    }

    .color
    {
        width: 100%;
        height: 100%;

        box-sizing: border-box;
        border: 2px solid black;
    }

    /*color palette maker*/
    .save 
    {
        width: 100%;
    }

    .colo 
    {
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
        /* padding: 8px; */
    }
}

