body 
{
    background-image: url("/static/IMG/abstractBG.jpg");
}

.containText
{
    /* border: 1px solid yellow; */
    width: 500px;

    align-self: center;
}


.containProjects
{
    border: 3px inset rgb(0, 0, 0);
    height: 500px;
    width: 500px;

    align-self: center;

    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.1);
}

.project 
{
    border: 3px outset black;
    display: flex;
    flex-direction: row;

    margin: 5px;
    border-radius: 5px;

    height: 60px;

    background-color: #5e9255;
    color: black;
}

.split1
{
    /* border: 1px solid red; */
    margin: 4px;

    flex-grow: 3;
}

.split2
{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: inset;
    margin: 2px;

    flex-grow: 1;
}

.split2 p 
{
    margin: 0px;
    
    font-size: 10px;
    font-weight: 600;
}

.details
{
    border-bottom-width: 2px;
    border-bottom-style: outset;
}
