/*
Okay. For some reson the contain is wonky on the page and the palette is wonky in the contain.
I have no clue how to fix this, as i checked what css applied to the elements and found nothing 
that could've done this.
I cannot even. Literally.
*/


body 
{
    background-image: url("/static/IMG/geoBG.jpg");
    padding: 10px;
}

.contain
{
    border: 3px inset pink;
    height: 80%;
    overflow: scroll;
    background-color: rgba(255, 192, 203, 0.694);
}


.newPalette
{
    border: 3px outset pink;
    border-radius: 15px;

    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

.newPalette:hover
{
    border: 3px outset pink;
    background-color: rgb(255, 222, 227);
}

.newPalette:active
{
    border: 3px outset pink;
    background-color: pink;
}

.fullPalette
{
    border: 2px outset rgb(194, 147, 155);

    background-color: aliceblue;
}

.fullPalette h3 
{
    /* border: 1px solid red; */
    position: relative;
    width: fit-content;
    margin: 0;

    left: 40%;
    text-decoration: underline;
}

.palette
{
    display: flex;
    justify-content: space-around;
    padding: 5px;

    /* background-color: aliceblue; */

    height: 100px;
}

.color
{
    width: 100%;
}

/* color palette maker */
.save 
{
    height: 40px;

    margin-top: 20px;

    background-color:pink;
    border: 3px outset pink;
    box-sizing: border-box;
}

.save:hover
{
    background-color:rgb(225, 171, 180);
}

.save:active
{
    background-color:rgb(199, 152, 160);
    border: 3px outset rgb(182, 137, 144);
}

.blurb
{
    font-size: 20px;
    padding: 5px;

    border: 3px inset rgba(0, 0, 0, 0.491);
    background-color: rgba(255, 192, 203, 0.532);
    box-sizing: border-box;
}

.color p 
{
    /* border: 1px solid red; */
    position: relative;
    top: 60%;
    font-size: 11px;

    text-decoration: underline;
}


/********************
    MEDIA ASPECT 
*********************/
/* big screen */
@media (min-aspect-ratio: 16/9) 
{
    .contain
    {
        display: grid;
        grid-template-columns: 50% 50%;

        width: 99%;
    }

    .fullPalette
    {
        width: 99%;
        max-height: 150px;
    }

    .palette
    {
        width: 95%;
    }

    .color
    {
        border: 2px solid black;
        padding: 8px;
    }

    /* color palette maker */
    .save 
    {
        width: 50%;
    }
}

/* small screen */
@media (max-aspect-ratio: 16/9) 
{
    .contain
    {
        width: 100%;
    }

    .fullPalette
    {
        width: 100%;
    }

    .color
    {
        width: 100%;
        height: 100%;
    }

    /*color palette maker*/
    .save 
    {
        width: 100%;
    }
}
