body
{
    background-color: #f5dce0;
}

@media screen and (max-height: 450px) 
{
}
@media screen and (max-width: 300px)
{
    /*
        for some reason won't work, 
        i suppose thats par for the course.
        anywho. clocking out for tonight
    */
}

#main 
{
    /* border: 1px solid red; */
    background-color: #f5dce0;
}

#main div 
{
  /* empty on purpose */
}

.openNav
{
    border-color: #e18aaa;
    background-color: #e4a0b7;
}

/*
    header
*/
.header 
{
    background-color: #ecbdc4;

    border-color: #e18aaa;
}

.header h1 
{
    /* border: 1px solid red; */
}

.twoBut
{

}

.header button 
{
    /* border: 1px solid blue; */

    border-color: #e18aaa;
    background-color: #ecbdc4;
}

.header button:hover
{
    border-color: #e18aaa;
    background-color: #e4a0b7;
}

.header button:active
{
    border-color: #e18aaa;
    background-color: #e18aaa;
}

.dropdown 
{
  
}

/* Style the dropdown button */
.dropbtn 
{
  
}

/* Dropdown content */
.dropdown-content 
{

  background-color: #efcfd4;

}

/* Links inside dropdown content */
.dropdown-content a 
{

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: #e4a0b7;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content 
{

}

/*
    counter area
*/
/* .counterArea, .mainHome
{

    background-color: #785046;
    height: 100%;
    width: 100%;

    border: 2px solid black;
    box-shadow: 0px 2px 2px;
} */


/*
    tabs
*/

 /* Style the tab */

/* Style the buttons that are used to open the tab content */
.tab button 
{
  background-color: #c8aeb1;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
  border-color: #d4b7bc;
  background-color: #ecbdc4;
}

/* Create an active/current tablink class */
.tab button.active 
{
  background-color: #f5dce0;
  border-color: #bca2a6;
}

/* Style the tab content */
.tabcontent 
{
  background-color: #ecbdc4;
  border-color: #e18aaa;
} 