body 
{
    background-color: #46170c;
}

#main 
{
    /* border: 1px solid red; */
    background-color: #46170c;
}

.openNav
{
    background-color:  #8b6758;
    border-color: black;
}

/*
    header
*/
.header 
{
    background-color: #592c26;
    border-color: black;
}

.header button 
{
    border-color: #44221d;
    background-color: #8b6758;
}

.header button:hover
{
    border: 2px solid #3a1d19;
    background-color: #805e50;
}

.header button:active
{
    border: 2px solid #3a1d19;
    background-color: #5f463c;
}

/*
    tabs
*/


/* Style the buttons that are used to open the tab content */
.tab button 
{
    border-color: #3a1d19;
    background-color: #70707056;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: #4848485e;
}

/* Create an active/current tablink class */
.tab button.active 
{
    background-color: #dadada5e;
}

/* Style the tab content */
.tabcontent 
{
    background-color: #785046;
    border-color: black;
} 

/************
  counters
*************/

.counter
{
    background-color: #46170c;
}

.numN
{
    background-color: #78504697;
}

.numN:hover
{
    background-color: #78504668;

    cursor: pointer;
}

.numN:active
{
    background-color: #7850463a;
}

.typeN
{
    background-color: #78504697;
}

.plus,
.minus
{
    background-color: #78504697;
    border-color: #46170c;
}

.plus:hover,
.minus:hover
{
    background-color: #785046dd;
    border-color: #46170c;
}

.plus:active,
.minus:active
{
    background-color: #785046;
    border-color: #46170c;
}



/************
    HOME
************/

form 
{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.596);
    background-color: #85594f;

}

fieldset 
{
    border-color: #3a1d19;
    color: #3a1d19;
}

label 
{
    color: #3a1d19;
}

a 
{
    color:  #3a1d19;
}

textarea,
.placeholder
{
    background-color:#592c2658;
    border-color: #3a1d19;
    color: aliceblue;
}

.placeholder:hover
{
    background-color:#592c2675;
    border-color: #3a1d19;
}

.placeholder:active
{
    background-color:#592c268c;
    border-color: #3a1d19;
}

input[type="text"] 
{
    background-color:#592c2658;
    border-color: #3a1d19;
    color: aliceblue;
}

.noteSelf
{
    width: 100%;
    height: 200px;

    overflow-y: scroll;
}