body
{
    background-color: #46170c;
    padding: 0;
}

@media screen and (max-height: 450px) 
{
}
@media screen and (max-width: 300px)
{
    /*
        for some reason won't work, 
        i suppose thats par for the course.
        anywho. clocking out for tonight
    */
}

#main 
{
    /* border: 1px solid red; */
    background-color: #46170c;
    height: 90vh;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

#main div 
{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.openNav
{
    border: 2px outset black;
    font-size: 18px;
}

/*
    header
*/
.header 
{
    background-color: #592c26;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    padding: 0;

    border: 2px solid black;
    box-shadow: 0px 2px 2px;
}

.header h1 
{
    /* border: 1px solid red; */
    font-size: 60px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.twoBut
{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.header button 
{
    /* border: 1px solid blue; */
    height: fit-content;
    margin: 2px;

    border-radius: 10px;
    border: 2px outset #44221d;
    background-color: #8b6758;
    box-shadow: 0px 2px 2px;
}

.header button:hover
{
    border: 2px solid #3a1d19;
    background-color: #805e50;
}

.header button:active
{
    border: 2px solid #3a1d19;
    background-color: #5f463c;
}

.dropdown 
{
  position: relative;
}

/* Style the dropdown button */
.dropbtn 
{
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside dropdown content */
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}

/*
    counter area
*/
/* .counterArea, .mainHome
{

    background-color: #785046;
    height: 100%;
    width: 100%;

    border: 2px solid black;
    box-shadow: 0px 2px 2px;
} */