body
{
    background-color: #46170c;
}

@media screen and (max-height: 450px) 
{
}
@media screen and (max-width: 300px)
{
    /*
        for some reason won't work, 
        i suppose thats par for the course.
        anywho. clocking out for tonight
    */
}

#main 
{
    /* border: 1px solid red; */
    background-color: #46170c;
    height: 90vh;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

#main div 
{
    margin: 2px;
}

.openNav
{
    border: 2px outset black;
    font-size: 18px;
}

/*
    header
*/
.header 
{
    background-color: #592c26;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;

    border: 2px solid black;
    box-shadow: 0px 2px 2px;
}

.header h1 
{
    border: 1px solid red;
    font-size: 60px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.header div 
{
    /* border: 1px solid purple; */
    /* width: 50%; */
    display: flex;

    justify-content:space-between;

}

.header button 
{
    /* border: 1px solid blue; */
    height: fit-content;
    margin: 2px;

    border-radius: 10px;
    border: 2px outset #44221d;
    background-color: #8b6758;
    box-shadow: 0px 2px 2px;
}

.header button:hover
{
    border: 2px solid #3a1d19;
    background-color: #805e50;
}

.header button:active
{
    border: 2px solid #3a1d19;
    background-color: #5f463c;
}


/*
    counter area
*/
.counterArea
{
    background-color: #785046;
    flex-grow: 9;

    border: 2px solid black;
    box-shadow: 0px 2px 2px;
}