 /* Style the tab */
.tab 
{
  overflow: hidden;
  /* border: 1px solid #000000; */
  /* background-color: #6c6c6c2a; */
  margin-top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button 
{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #70707056;
}

/* Change background color of buttons on hover */
.tab button:hover 
{
  background-color: #4848485e;
}

/* Create an active/current tablink class */
.tab button.active 
{
  background-color: #dadada5e;
}

/* Style the tab content */
.tabcontent 
{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  flex-grow: 9;
  background-color: #785046;
  height: 100%;

  border: 2px solid black;
  box-shadow: 0px 2px 2px;
} 