
/*
colors (dark to ligth)
#33281f - text
#5b4837 - lines
#aa8f7a - background
#c0af9f - div background
#d6cfc7 - tabs background
#ececec - highlight
*/


body 
{
    padding: 40px;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header"
        "filler content"
        "footer footer";
    grid-template-columns: 1fr 4fr;

    background-color: #aa8f7a;
}

p, h1 
{
    color: #33281f;
}

/* header */
.header
{
    /* border: 1px solid red; */
    grid-area: header;

    height: 80px;

    padding-left: 50%;
}

.header img 
{
    height: 40px;
}


/* main area */
.filler 
{
    grid-area: filler;

    padding: 5px;

    border: 2px outset #5b4837;
    box-sizing: border-box;

    background-color: #c0af9f;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login
{
    height: 40px;

    background-color: #d6cfc7;

    border-color: #5b4837;
    border-radius: 15px;
}

.login:hover
{
    background-color: #ececec;
    border-color: #5b4837;
}

.login:active
{
    background-color: #d6cfc7;
    border-color: #5b4837;
}

.content 
{
    grid-area: content;

    border: 2px outset #5b4837;
    box-sizing: border-box;

    background-color: #c0af9f;
}

/* footer */
.footer
{
    grid-area: footer;

    border: 2px outset #5b4837;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
        "empty1 product company empty2";
}

.product
{
    grid-area: product;
    padding: 2px;
}

.company
{
    grid-area: company;
    padding: 2px;
}

.empty1
{
    /* border: 1px solid red; */

    grid-area: empty1;
}

.empty2
{
    /* border: 1px solid red; */
    grid-area: empty2;
}




/*
    tabs
*/

.tab 
{
/* border-bottom: 2px solid #5b4837; */
    
    overflow: hidden;
    margin-top: 10px;
    min-height: 30px;
}


.tab button 
{
    float: left;
    outline: none;
    cursor: pointer;

    padding: 14px 16px;

    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-width: 2px;
    border-style: outset;
    border-color: #5b4837;
    background-color: #aa8f7a;

    color: #33281f;
}


.tab button.active 
{
    background-color: #d6cfc7;

    border-bottom: 2px solid #d6cfc7;
    border-top: 3px solid #5b4837;
    border-left: 3px solid #5b4837;
    border-right: 3px solid #5b4837;
}

/* current tab */
.tabcontent 
{
    display: none;
    padding: 6px 12px;

    height: 80vh;
    min-height: 550px;

    overflow-y: scroll;

    background-color: #d6cfc7;
} 

.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/*************************
    animated login
**************************/
/*
colors (dark to ligth)
#33281f - text
#5b4837 - lines
#aa8f7a - background
#c0af9f - div background
#d6cfc7 - tabs background
#ececec - highlight
*/

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    display: inline-block;

    border: 1px solid #5b4837;
    border-radius: 5px;
    box-sizing: border-box;

    background-color: #c0af9f;
    color: #33281f;
}

/* buttons needed different name */
.butt
{
    background-color: #c0af9f;
    color: #33281f;

    border: 2px outset #5b4837;
    border-radius: 30px;

    padding: 14px 20px;
    margin: 8px 0;

    cursor: pointer;
    width: 100%;
}

.butt:hover 
{
    background-color: #d6cfc7;
}

.butt:active
{
    background-color: #c0af9f;
}

.cancelbtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: #6f2e2e;

    border-radius: 5px;
    border-color: #5b4837;
    border-style: outset;
    border-width: 2px;
}

.cancelbtn:hover
{
    background-color: #a64545;

    border-color: #814f4f;
}

.cancelbtn:active
{
    background-color: #6f2e2e;

    border-color: #5b4837;
}


.remember
{
    color: #33281f;
}

.container 
{
    padding: 16px;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}

.modal,
.modal2
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #00000068;
    padding-top: 60px;
}

.modal-content,
.modal2-content 
{
    border: 2px solid #5b4837;
    border-radius: 15px;

    background-color: #aa8f7a;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: red;
    cursor: pointer;
}

/* Animation */
.animate 
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom 
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) 
{
    span.psw 
    {
        display: block;
        float: none;
    }

    .cancelbtn 
    {
        width: 100%;
    }
}