<!DOCTYPE html>
<html>
    <head>

        <!-- 
        
        -->
        <!--------------------------------- 
        |   fancy pants styling section   |
        ----------------------------------->

        <!-- stylesheets -->
         <link rel="stylesheet" href="/static/CSS/navBarFall.css">
         <link rel="stylesheet" href="/static/CSS/defaultMainPage.css">
         <link rel="stylesheet" href="/static/CSS/defaultNavBar.css">
         <link rel="stylesheet" href="/static/CSS/archive.css">

        <!-- javascript import -->
        <script src="/static/JAVASCRIPT/sidenav.js"></script>


        <title>
            Archive
        </title>

    </head>
    
    <body alt="Archive. A square in the middle of the screen
                which contains old projects and their details.
                There's a button at the top left to open the 
                side navigation bar.">
       <div id="mySidenav" class="sidenav">
            <div class="navTop">
                <!-- NOTE!
                    button in link is probably not the right way. 
                    however, I couldn't get it to work with onclick, so.
                    I'm styling directly to override other styles
                -->
                <a 
                aria-label="log out"
                style="background-color: rgba(0, 0, 0, 0.001);
                       padding: 0;" 
                href="{{ url_for('logout') }}">
                    <button aria-label="Log Out" type="button">
                        log out
                    </button>
                </a>
                
            </div>
            <div class="container">
                <h1 class="blockTop">
                    Project Overview
                </h1>
                <div class="scroll">
                    <button  aria-label="Close Sidebar"
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()"> &#60; &#60;
                </button>

                <a aria-label="make new project" class="space" href="{{ url_for('newProject') }}">
                    New Project +
                </a>

                {% for project in projects %}
                    {% if project.archived == False %}
                    <a aria-label="go to a project" href="{{ url_for('project', projectID = project.id) }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                {{ project.title }}
                            </h3>
                        </div>
                        <div class="split2" >
                            <p class="details">
                                Details
                            </p>
                            <p>
                                counters: {{ project.counters|count }}
                            </p>
                            <p>
                                last edited: {{ project.date }}
                            </p>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
            <!-------------
                Community
            --------------->
            <div class="container">
                <h1 class="blockTop">
                    Community
                </h1>
                <div class="scroll">
                    <a aria-label="go to profile" href="{{ url_for('profile') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Profile
                            </h3>
                            <p class="comDesc">
                                Look at your profile
                            </p>
                        </div>
                    </a>
                    <a aria-label="go to color palettes" href="{{ url_for('palettes') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Color Pallettes
                            </h3>
                            <p class="comDesc">
                                Look at your saved palettes!
                            </p>
                        </div>
                    </a>
                    <a aria-label="go to archive" href="{{url_for('archive')}}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Archive
                            </h3>
                            <p class="comDesc">
                                Your old projects, nostalgia extreme
                            </p>
                        </div>
                    </a>
                    <a aria-label="non-functional link" href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming Soon: Development Notes!
                            </h3>
                            <p class="comDesc">
                                have a bug? report it here!
                            </p>
                        </div>
                    </a>
                    <a aria-label="non-functional link" href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Inspiration!
                            </h3>
                            <p class="comDesc">
                                Community board! Interact with other crafters.
                            </p>
                        </div>
                    </a>
                    <a aria-label="non-functional link" href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Store!
                            </h3>
                            <p class="comDesc">
                                Need an extra spool of yarn? Our linked affiliates can provide!
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <button aria-label="Open Sidebar" class="openNav" onclick="openNav()">&#60; &#60;</button>

        <!-----------------------------------------------------------------------------
            main page
        ------------------------------------------------------------------------------->
        <div id="main">
            <div class="containText">
                <h1>
                    Archive
                </h1>
                <p>
                    did you think we threw out your archived 
                    projects? We would never. Here they all are!
                </p>
            </div>
            
            <div class="containProjects">
                {% for project in projects %}
                    {% if project.archived == True %}
                    <a aria-label="old project" class="project" href="{{ url_for('project', projectID = project.id) }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                {{ project.title }}
                            </h3>
                        </div>

                        <div class="split2" >
                            <p class="details">
                                Details
                            </p>
                            <p>
                                counters:{{ project.counters|count }}
                            </p>
                            <p>
                                last edited: {{ project.date }}
                            </p>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    <!-- Use any element to open the sidenav -->
        <button aria-label="Close Sidebar" class="openNav" onclick="openNav()">&#60; &#60;</button>

    </body>
</html>