<!DOCTYPE html>
<html>
    <head>

        <!-- 
        TODO:
            - make a deafult page for the main page
            - make a way to show the correct project when
              choosing a given project
        
        
        
        -->
        <!--------------------------------- 
        |   fancy pants styling section   |
        ----------------------------------->

        <!-- stylesheets -->
         <link rel="stylesheet" href="/static/CSS/navBarFall.css"> <!-- replace with {{template}} when integrated with flask -->
         <link rel="stylesheet" href="/static/CSS/defaultMainPage.css">
         <link rel="stylesheet" href="/static/CSS/defaultNavBar.css">
         <link rel="stylesheet" href="/static/CSS/colorPalettes.css">

        <!-- javascript import -->
        <script src="/static/JAVASCRIPT/sidenav.js"></script>
        <script src="/static/JAVASCRIPT/colorPalettes.js"></script>


        <title>
            Color Palettes
        </title>

    </head>
    
    <body alt="a geometric circle based color splash background. There's a button 
                at the top left to open the side navigation bar.">
        <div id="mySidenav" class="sidenav">
            <div class="navTop">
                <button type="button">
                    edit
                </button>
                <button type="button">
                    add
                </button>
            </div>
            <div class="container">
                <h1 class="blockTop">
                    Project Overview
                </h1>
                <div class="scroll">
                    <button aria-label="Close Sidebar"
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()">&#60; &#60;
                </button>
                    <a href="{{ url_for('project') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Project 1
                            </h3>
                            <p class="navDesc">
                                little desc here 
                            </p>
                        </div>

                        <div class="split2" >
                            <p class="details">
                                Details
                            </p>
                            <p>
                                counters: 5
                            </p>
                            <p>
                                pictures: 2
                            </p>
                            <p>
                                last edited: 12/12/2012
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <!-------------
                Community
            --------------->
            <div class="container">
                <h1 class="blockTop">
                    Community
                </h1>
                <div class="scroll">
                    <!-- <a 
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()">&#60; &#60;
                    </a> -->
                    <a href="/CODE/DevNotes.html">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Development Notes
                            </h3>
                            <p class="comDesc">
                                have a bug? report it here!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Color Pallettes
                            </h3>
                            <p class="comDesc">
                                Look at your saved palettes!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Archive
                            </h3>
                            <p class="comDesc">
                                Your old projects, nostalgia extreme
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Inspiration!
                            </h3>
                            <p class="comDesc">
                                Community board! Interact with other crafters.
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Store!
                            </h3>
                            <p class="comDesc">
                                Need an extra spool of yarn? Our linked affiliates can provide!
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Use any element to open the sidenav -->
        <button aria-label="Close Sidebar" class="openNav" onclick="openNav()">&#60; &#60;</button>


        <!-----------------------------------------------------------------------------
            main page
        ------------------------------------------------------------------------------->
        <div id="main">
            <h1>
                Color Palettes!
            </h1>
            <a class="newPalette" href="{{ url_for('newPalette') }}">
                <h3>
                    New color palette +
                </h3>
            </a>
            <div class="contain">
                
                <!-- palettes, I apologize for the state of the code.
                     it likely does not work on account of the 
                     database not working. alas, we go on

                     hopefully should generate every palette
                     saved in the database, and run the given
                     js to make the background color the 
                     one saved in the attribute. Excited 
                     to see if this ectually works. I doubt it.
                -->
                {% for palettes in palette %}
                <div class="fullPalette">
                    <h3>
                        {{ palette.name }}
                    </h3>
                    <div class="palette" alt="a color palette">
                        <div id="color" class="color">
                            {{ palette.color1 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color2 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color3 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color4 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color5 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color6 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color7 }}
                        </div>
                        <div id="color" class="color">
                            {{ palette.color8 }}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div> 

    </body>
</html>