<!DOCTYPE html>
<html>
    <head>
        <!--------------------------------- 
        |   fancy pants styling section   |
        ----------------------------------->

        <!-- stylesheets -->
         <link rel="stylesheet" href="/static/CSS/profile.css">
         <link rel="stylesheet" href="/static/CSS/defaultNavBar.css">
         <link rel="stylesheet" href="/static/CSS/navBarFall.css">


        <!-- javascript import -->
        <script src="/static/JAVASCRIPT/sidenav.js"></script>

        <title>
            Your Profile
        </title>

    </head>
    
    <body alt="Your profile page. Look at your registered information. Open sidebar using the top left button">
        <div id="mySidenav" class="sidenav">
            <div class="navTop">
                <button aria-label="edit projects list" type="button">
                    edit
                </button>
                <button aria-label="add project" type="button">
                    add
                </button>
                <button aria-label="Log Out" type="button">
                    log out
                </button>
            </div>
            <div class="container">
                <h1 class="blockTop">
                    Project Overview
                </h1>
                <div class="scroll">
                    <button  aria-label="Close Sidebar"
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()"> &#60; &#60;
                </button>

                <!-- for some reason no padding on this
                     fix later i suppose -->
                <a class="space">
                    New Project +
                </a>

                {% for projects in project %}
                <a href="{{ url_for('project') }}">
                    <div class="split1">
                        <h3 class="navHeading" >
                            {{ project.title }}
                        </h3>
                    </div>

                    <div class="split2" >
                        <p class="details">
                            Details
                        </p>
                        <p>
                            counters: {{ project.counters }}
                        </p>
                        <p>
                            last edited: {{ project.date }}
                        </p>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>

            <!-------------
                Community
            --------------->
            <div class="container">
                <h1 class="blockTop">
                    Community
                </h1>
                <div class="scroll">
                    <!-- <a 
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()">&#60; &#60;
                    </a> -->
                    <a href="{{ url_for('profile') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Profile
                            </h3>
                            <p class="comDesc">
                                Look at your profile
                            </p>
                        </div>
                    </a>
                    <a href="{{ url_for('palettes') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Color Pallettes
                            </h3>
                            <p class="comDesc">
                                Look at your saved palettes!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Archive
                            </h3>
                            <p class="comDesc">
                                Your old projects, nostalgia extreme
                            </p>
                        </div>
                    </a>
                    <a href="{{ url_for('devNotes') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Development Notes
                            </h3>
                            <p class="comDesc">
                                have a bug? report it here!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Inspiration!
                            </h3>
                            <p class="comDesc">
                                Community board! Interact with other crafters.
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Store!
                            </h3>
                            <p class="comDesc">
                                Need an extra spool of yarn? Our linked affiliates can provide!
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Use any element to open the sidenav -->
        <button aria-label="Close Sidebar" class="openNav" onclick="openNav()">&#60; &#60;</button>

<!------------------------------------------------------------------------------- 
            main page
--------------------------------------------------------------------------------->
        <div id="main">
            <div class="letter">
                <h1 class="handHeading">
                    Welcome, {{Username}}!
                </h1>
                <p class="handWritten">
                    To start your crafting journey, open the navigation menu on the left! <br>
                    On this page you'll find any information we have registered from you. Right 
                    now this page isn't that noteworthy, but we're working on bringing you a 
                    more personalized experience, to allow you to create a profile that speaks to 
                    who you are, and lets you share your projects and ideas with the world!
                    <br>
                    Hopefully, you'll like this first prototype enough that you'll be willing to stick 
                    around for when we get the rest up and running!
                    <br>
                    All the best,<br>
                    Your dedicated LoopLet team  &#10084;
                </p>
            </div>
            <div class="userInfo">
                <p>
                    Name: {{Username}} <br> <br>
                    Email: {{mail}} 
                    <p class="pswd">
                        Change Password?
                    </p> 
                    <p class="changePswd">
                        currently un-implemented
                    </p>
                    
                </p>
            </div>
            
        </div>

    </body>

</html>