<!DOCTYPE html>
<html>
    <head>

        <!-- 
        TODO:
            - make a deafult page for the main page
            - make a way to show the correct project when
              choosing a given project
        -->
        <!--------------------------------- 
        |   fancy pants styling section   |
        ----------------------------------->

        <!-- stylesheets -->
         <link rel="stylesheet" href="{{mainTheme}}">
         <link rel="stylesheet" href="{{navBarTheme}}">
         <link rel="stylesheet" href="/static/CSS/defaultMainPage.css">
         <link rel="stylesheet" href="/static/CSS/defaultNavBar.css">

        <!-- javascript import -->
        <script src="/static/JAVASCRIPT/sidenav.js"></script>
        <script src="/static/JAVASCRIPT/tabs.js"></script>

        <title>
            {{projectTitle}} - {{projectID}}
        </title>

    </head>
    
    <body alt="The main project page, with the project title and details,
                such as hook size and counters in the tab-navigated main area. 
                There's a button in the top left to open the navigation bar.">
         <div id="mySidenav" class="sidenav">
            <div class="navTop">
                <!-- <button aria-label="edit projects list" type="button">
                    edit
                </button> -->
                <!-- <button onclick=" " aria-label="add project" type="button">
                    add
                </button> -->
                <!-- NOTE!
                    button in link is probably not the right way. 
                    however, I couldn't get it to work with onclick, so.
                    styling directly to override other styles
                -->
                <a 
                style="background-color: rgba(0, 0, 0, 0.001);
                       padding: 0;" 
                href="{{ url_for('logout') }}">
                    <button aria-label="Log Out" type="button">
                        log out
                    </button>
                </a>
                
            </div>
            <div class="container">
                <h1 class="blockTop">
                    Project Overview
                </h1>
                <div class="scroll">
                    <button  aria-label="Close Sidebar"
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()"> &#60; &#60;
                </button>

                <!-- for some reason no padding on this
                     fix later i suppose -->
                <a class="space" href="{{ url_for('newProject') }}">
                    New Project +
                </a>

                {% for project in projects %}
                <a href="{{ url_for('project', projectID = project.id) }}">
                    <div class="split1">
                        <h3 class="navHeading" >
                            {{ project.title }}
                        </h3>
                    </div>

                    <div class="split2" >
                        <p class="details">
                            Details
                        </p>
                        <p>
                            counters: {{ project.counters|count }}
                        </p>
                        <p>
                            last edited: {{ project.date }}
                        </p>
                    </div>
                </a>
                {% endfor %}

            </div>
        </div>

            <!-------------
                Community
            --------------->
            <div class="container">
                <h1 class="blockTop">
                    Community
                </h1>
                <div class="scroll">
                    <!-- <a 
                        href="javascript:void(0)" class="closebtn" 
                        onclick="closeNav()">&#60; &#60;
                    </a> -->
                    <a href="{{ url_for('profile') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Profile
                            </h3>
                            <p class="comDesc">
                                Look at your profile
                            </p>
                        </div>
                    </a>
                    <a href="{{ url_for('palettes') }}">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Color Pallettes
                            </h3>
                            <p class="comDesc">
                                Look at your saved palettes!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Archive
                            </h3>
                            <p class="comDesc">
                                Your old projects, nostalgia extreme
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming Soon: Development Notes!
                            </h3>
                            <p class="comDesc">
                                have a bug? report it here!
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Inspiration!
                            </h3>
                            <p class="comDesc">
                                Community board! Interact with other crafters.
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="split1">
                            <h3 class="navHeading" >
                                Coming soon: Store!
                            </h3>
                            <p class="comDesc">
                                Need an extra spool of yarn? Our linked affiliates can provide!
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Use any element to open the sidenav -->
        <button aria-label="Close Sidebar" class="openNav" onclick="openNav()">&#60; &#60;</button>


<!------------------------------------------------------------------------------- 
            main page
--------------------------------------------------------------------------------->
        <div id="main">
            <div class="header">
                <h1>
                    {{ projectTitle }}
                </h1>
                <div class="twoBut">
                    <a href="{{ url_for('newCounter')}}">
                        <button name="newCount" value="{{projectID}}">
                            add new counter
                        </button>
                    </a>
                    
                    <div class="theme">
                        <a href="{{ url_for('theme2') }}">
                            <button class="themeBtn">
                                {{theme}}
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'Home')">Home</button>
                <button class="tablinks" onclick="openCity(event, 'Counter')">Counter</button>
            </div>

            <!-- Tab content -->
            <div id="Home" class="tabcontent" style="display: flex;">
                <div class="flex">
                    <form method="post">
                        <fieldset>
                            <legend>Information</legend> <!-- title in the box of it -->
                            <div>
                                <div>
                                    Title: {{ projectTitle }}
                                </div>
                                <label for="title">
                                    <b>Project Title</b>
                                </label>
                                <input name="title" class="space" type="text" placeholder="Edit title here" name="title">
                                

                                <div>
                                    Yarn: {{ yarn }}
                                </div>
                                <label for="yarn">
                                    <b>Yarn</b>
                                </label>
                                <input name="yarn" class="space" type="text" placeholder="Yarn type / brand" name="yarn">
                                
                                <div>
                                    hook/needle size: {{ hookSize }}
                                </div>
                                <label for="needle">
                                    <b>Size</b>
                                </label>
                                <input class="space" type="text" placeholder="hook/needle size" name="needle">
                                
                                <div>
                                    Pattern: {{ pattern }}
                                </div>
                                <label for="pattern">
                                    <b>Pattern</b>
                                </label>
                                <input class="space" type="text" placeholder="link to pattern (optional)" name="pattern">

                                <label for="ColorPalette">
                                    <b>Color Palette </b>
                                </label>
                                <select name="ColorPalette" class="space">
                                    {% for palette in palettes %}
                                    <!-- actually where is this value attribute saved. -->
                                    <option name="paletteOp" id="pOption" value="{{ palette.name }}"> {{ palette.name }} </option>
                                    {% endfor %}
                                </select>
                                {% if project.palette != None %}
                                <div class="displayPalette">
                                    <div class="fullPalette">
                                        <h3 id="pTitle">
                                        </h3>
                                        <div class="palette" alt="a color palette">
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color1 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color2 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color3 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color4 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color5 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color6 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                    {{ project.palette.color7 }}
                                                </p>
                                            </div>
                                            <div class="color">
                                                <p>
                                                   {{ project.palette.color8 }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <button formaction="{{url_for('saveProject', projectID = project.id)}}" class="placeholder" type="submit">
                                    Save
                                </button>
                                <button class="placeholder" type="submit">
                                    Archive
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <form method="#">
                        <fieldset>
                            <legend>Notes To Self</legend> <!-- title in the box of it -->
                                <textarea name="notes" class="noteSelf" name="notes"
                                ></textarea>
                            <input type="hidden" name="projectID" value="{{projectID}}" />
                            <button class="placeholder" type="submit">
                                Save Notes
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- COUNTER TAB -->
            <div id="Counter" class="tabcontent">
                <div class="flex">
                    {% for counters in Counter %}
                    <div class="counter">
                        <form>
                            <button formaction="{{ url_for('upCounter') }}"
                            type="submit" class="numN">
                                <!-- MAX counter is 99999 -->
                                <p>
                                    {{ counter.value }}
                                </p>
                            </button>
                            <div class="typeN">
                                <p>
                                    {{ counter.id }} <br>
                                    linked: {{ counter.link }} <br>
                                    loop: {{ counter.loop }}
                                </p>
                                <button type="button" class="burgerMenu" 
                                    alt="menu for individual counter. Click to edit counter.">	
                                        &equiv;
                                </button>
                            </div>
                            <button formaction="{{ url_for('downCounter') }}"
                            type="submit" class="minus">
                                &#65293;
                            </button>
                            <input type="hidden" value="{{ counter.project }}, {{ counter.id }}">
                        </form>
                    </div>
                    {% endfor %}
                    <div class="counter">
                        <form>
                            <button formaction="{{ url_for('newCounter') }}" 
                            type="submit" class="numN" value=""> <!-- pass projectID -->
                                <p>
                                    new counter +
                                </p>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 

    </body>
</html>